.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #12232E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEFBFB;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-grid>button{
  width: 80px;
  height: 50px;
  font-size: 24px;
  position: relative;
  top:5%;
  text-align: center;
  border: none;
  background-color: #007CC7;
  color:#EEFBFB;
  text-decoration: none;
  border-radius: 2px;
}

.app-grid{
  display:grid;
  grid-template-columns: auto auto;
  grid-gap: 0px 15px;
  align-items: center;
}

.grid{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto auto;
  padding: 0px 25px;
}

.piece-grid{
  margin-top:10px;
  border: 5px solid #007CC7;
  border-radius: 25px;
  padding: 20px;
}

.grid>div{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #EEFBFB;
  color: black;
  /*Makes it so the border is placed on the inside*/
  box-sizing: border-box;
}

.active-piece:hover {
  background-color: #007CC7;
}

.droppable-item:hover {
  border: 2px solid lightcoral;
}

.results-field{
  display: grid;
  grid-gap: 30px;
}

.results-field>div{
  width:50px;
  height:50px;
  line-height: 50px;
  text-align: center;
}

.results-field--horizontal{
  grid-template-columns: auto auto auto auto;
  padding: 0px 25px;
}

.results-field--vertical{
  grid-template-columns: auto;
  /*Adjust left so that it has the same distance as the horizontal one*/
  position: relative;
  left: -35px;
}