.reset-button{
  width: 50px;
  height: 50px;
  font-size: 15px;
  text-align: center;
  border: none;
  background-color: #007CC7;
  color:#EEFBFB;
  text-decoration: none;
  border-radius: 2px;
}

.app-grid{
  display:grid;
  grid-template-columns: auto;
  grid-gap: 0px 15px;
  align-items: center;
}

.app-grid--with-opponent{
  display:grid;
  grid-template-columns: auto auto;
  grid-gap: 0px 15px;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-rows: repeat(3,[tile-row-start] 50px [tile-gap-start] 30px) [tile-row-start] 50px [result-gap-start] 5px [result-row-start] 25px [tile-gap-start] 30px [piece-row-start] 50px;
  grid-template-columns: [control-col-start] 50px repeat(3,[tile-col-start] 50px [tile-gap-start] 30px) [tile-col-start] 50px [result-gap-start] 5px [result-col-start] 25px;
  padding: 0px 25px;
}

.piece-grid{
  grid-row: piece-row-start;
  grid-column-start: tile-col-start 1;
  grid-column-end: span 7;
  border: 5px solid #007CC7;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  position: relative;
  left: -15px;
  top: -15px;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 1
}

.grid>.gridItem, .grid>.pieceItem{
  line-height: 50px;
  text-align: center;
  background-color: #EEFBFB;
  color: black;
  /*Makes it so the border is placed on the inside*/
  box-sizing: border-box;
  z-index: 2
}

.grid>.resultItem{
  line-height: 50px;
  text-align: center;
}

.active-piece:hover {
  background-color: #007CC7;
}

.droppable-item:hover {
  border: 2px solid lightcoral;
}