.selection-button{
    margin-left: 20px;
    border-radius: 20px;
    background-color: #007CC7;
    color:#EEFBFB;
}

.selection-icon{
    height: 150px;
    fill:#EEFBFB;
}

.selection-text{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.back-button{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    position: relative;
    left: -50px;
    top: 50px;
    text-align: center;
    border: none;
    background-color: #007CC7;
    color:#EEFBFB;
    text-decoration: none;
    border-radius: 2px;
}

.back-button>img{
    height:30px;
    fill: #EEFBFB;
}